# Python
__pycache__/
*.pyc
.venv/

# Environment
.env
.env.local
.env.production

# Node
node_modules/

# Build
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Storebackend/service_account.json
